* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

@font-face {
  font-family: SourceCodePro;
  font-weight: 200;
  src: url(../assets/fonts/Source_Code_Pro/static/SourceCodePro-ExtraLight.ttf);
}
@font-face {
  font-family: SourceCodePro;
  font-weight: 300;
  src: url(../assets/fonts/Source_Code_Pro/static/SourceCodePro-Light.ttf);
}
@font-face {
  font-family: SourceCodePro;
  font-weight: 400;
  src: url(../assets/fonts/Source_Code_Pro/static/SourceCodePro-Regular.ttf);
}
@font-face {
  font-family: SourceCodePro;
  font-weight: 500;
  src: url(../assets/fonts/Source_Code_Pro/static/SourceCodePro-Medium.ttf);
}
@font-face {
  font-family: SourceCodePro;
  font-weight: 600;
  src: url(../assets/fonts/Source_Code_Pro/static/SourceCodePro-SemiBold.ttf);
}
@font-face {
  font-family: SourceCodePro;
  font-weight: 700;
  src: url(../assets/fonts/Source_Code_Pro/static/SourceCodePro-Bold.ttf);
}
@font-face {
  font-family: SourceCodePro;
  font-weight: 800;
  src: url(../assets/fonts/Source_Code_Pro/static/SourceCodePro-ExtraBold.ttf);
}
@font-face {
  font-family: SourceCodePro;
  font-weight: 900;
  src: url(../assets/fonts/Source_Code_Pro/static/SourceCodePro-Black.ttf);
}
@font-face {
  font-family: SourceCodePro;
  font-weight: 200;
  font-style: italic;
  src: url(../assets/fonts/Source_Code_Pro/static/SourceCodePro-ExtraLightItalic.ttf);
}
@font-face {
  font-family: SourceCodePro;
  font-weight: 300;
  font-style: italic;
  src: url(../assets/fonts/Source_Code_Pro/static/SourceCodePro-LightItalic.ttf);
}
@font-face {
  font-family: SourceCodePro;
  font-weight: 400;
  font-style: italic;
  src: url(../assets/fonts/Source_Code_Pro/static/SourceCodePro-Italic.ttf);
}
@font-face {
  font-family: SourceCodePro;
  font-weight: 500;
  font-style: italic;
  src: url(../assets/fonts/Source_Code_Pro/static/SourceCodePro-MediumItalic.ttf);
}
@font-face {
  font-family: SourceCodePro;
  font-weight: 600;
  font-style: italic;
  src: url(../assets/fonts/Source_Code_Pro/static/SourceCodePro-SemiBoldItalic.ttf);
}
@font-face {
  font-family: SourceCodePro;
  font-weight: 700;
  font-style: italic;
  src: url(../assets/fonts/Source_Code_Pro/static/SourceCodePro-BoldItalic.ttf);
}
@font-face {
  font-family: SourceCodePro;
  font-weight: 800;
  font-style: italic;
  src: url(../assets/fonts/Source_Code_Pro/static/SourceCodePro-ExtraBoldItalic.ttf);
}
@font-face {
  font-family: SourceCodePro;
  font-weight: 900;
  font-style: italic;
  src: url(../assets/fonts/Source_Code_Pro/static/SourceCodePro-BlackItalic.ttf);
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  font-family: SourceCodePro, monospace;
  background-color: #FFFFFF;
}

body {
  overflow-x: hidden;
}

nav {
  z-index: 100;
  position: sticky;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 4rem;
  max-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #C2EABD;
  border-bottom: 0.1rem solid #7ad170;
  box-shadow: 0 0.2px 10px grey;
}
nav > a {
  font-size: 2rem;
  text-decoration: none;
  color: #1f4731;
  position: relative;
  transition: color 400ms ease;
  font-weight: 600;
}
nav > a:hover {
  color: #2f6b4a;
}
nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: #1f4731;
  position: relative;
}
nav ul li a:hover::after {
  width: 100%;
}
nav ul li a::after {
  transition: width 400ms ease;
  width: 0;
  content: "";
  position: absolute;
  top: 100.1%;
  left: 0;
  height: 2px;
  background-color: #1f4731;
}

.sep {
  width: 100%;
  height: var(--height);
  --angle: 5deg;
  --angle0: 5deg;
  --anglef: 0deg;
  --height: calc(100vw * 0.0874886635);
  --from-color: #0ef80e;
  --to-color: #e600ff;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: transparent;
  --offset: 0rem;
  position: sticky;
  top: calc(4rem - var(--offset));
}
.sep > div {
  position: absolute;
  height: var(--height);
  width: 111.1111111111vw;
  top: calc(var(--height) / 2);
  left: 50%;
  background-color: var(--to-color);
  transform-origin: center;
  translate: -50% 0;
  box-shadow: 0 0 0.5em 0.03rem #171A21;
  border-top: 0.1rem solid var(--dark-color);
}
.sep.triangle-left > div {
  rotate: calc(var(--angle) / 2);
}
.sep.triangle-right > div {
  rotate: calc(-1 * var(--angle) / 2);
}
.sep#sep--home-about {
  --dark-color: #b0e0ce;
  --to-color: #C2E7D9;
}
.sep#sep--about-workexp {
  --dark-color: #95c6cd;
  --to-color: #A6CFD5;
}
.sep#sep--workexp-training {
  --dark-color: #bab2e3;
  --to-color: #CBC5EA;
}
.sep#sep--training-gallery {
  --dark-color: #b0e4aa;
  --to-color: #C2EABD;
}
.sep#sep--gallery-contact {
  --dark-color: #0d0e12;
  --to-color: #171A21;
}

.panels {
  display: flex;
  justify-content: center;
  gap: 2vw;
}
@media screen and (max-device-width: 800px) {
  .panels {
    flex-direction: column;
    gap: 1rem;
  }
}
.panels .card {
  background-color: white;
  border-radius: 1.2rem;
  box-shadow: 0 0 0.2rem black, 0.5rem 0.5rem 0.8rem 0 grey;
  padding: 2rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  --translate0: 5%;
  --translate: var(--translate0);
  translate: var(--translate);
  --opacity0: 0;
  --opacity: var(--opacity0);
  opacity: var(--opacity);
  --text-opacity0: 0;
  --text-opacity: var(--opacity0);
}
@media screen and (max-device-width: 800px) {
  .panels .card {
    max-width: 90%;
    margin-inline: auto;
  }
}
.panels .card > h4, .panels .card > p {
  opacity: var(--text-opacity);
}
.panels .card h4 {
  font-size: 1.5rem;
}
.panels .card p {
  text-align: justify;
}
.panels .card p strong {
  font-size: 1.1rem;
}
.panels .card img {
  margin-top: auto;
  max-width: 100%;
  margin-inline: auto;
}
.panels .card p.image-caption {
  font-size: 0.8rem;
  color: grey;
}

.sliders .boards {
  padding: 2rem;
  max-width: 100%;
  min-height: 80vh;
  display: grid;
  grid-template-areas: "board";
}
.sliders .boards .board {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  grid-area: board;
  opacity: 1;
  transition: opacity ease 200ms;
  background-color: white;
  border-radius: 0.4rem;
  box-shadow: 0 0 0.1rem black, 0 0 0.3rem grey;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.sliders .boards .board:not(.current) {
  opacity: 0;
  pointer-events: none;
}
.sliders .boards .board.current {
  opacity: 1;
  pointer-events: all;
}
.sliders .boards .board .text {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.sliders .boards .board .text h4 {
  font-size: 3rem;
  color: var(--dark-color);
}
.sliders .boards .board .text p {
  font-size: 1rem;
}
.sliders .boards .board .image-carousel .images {
  display: grid;
  grid-template-areas: "images";
  flex-direction: row;
  max-width: 100%;
  max-height: 100%;
  margin-inline: auto;
}
.sliders .boards .board .image-carousel .images > img, .sliders .boards .board .image-carousel .images video {
  border-radius: 0.5rem;
  margin: auto;
  grid-area: images;
  transition: opacity 200ms ease;
  max-width: 100%;
  max-height: 100%;
}
.sliders .boards .board .image-carousel .images > img:not(.current), .sliders .boards .board .image-carousel .images video:not(.current) {
  opacity: 0;
  pointer-events: none;
}
.sliders .boards .board .image-carousel .images > img.current, .sliders .boards .board .image-carousel .images video.current {
  opacity: 1;
  pointer-events: all;
}
.sliders .arrows {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-direction: row;
}
.sliders .arrows .arrow-right, .sliders .arrows .arrow-left {
  z-index: 20;
  background-color: transparent;
  border: none;
  transition: ease 200ms;
  opacity: 1;
}
.sliders .arrows .arrow-right.disabled, .sliders .arrows .arrow-left.disabled {
  opacity: 0.3;
}
.sliders .arrows .arrow-right:not(.disabled), .sliders .arrows .arrow-left:not(.disabled) {
  opacity: 1;
}
.sliders .arrows .arrow-right:not(.disabled):hover, .sliders .arrows .arrow-right:not(.disabled):focus, .sliders .arrows .arrow-left:not(.disabled):hover, .sliders .arrows .arrow-left:not(.disabled):focus {
  scale: 1.1;
}
.sliders .arrows .arrow-right:not(.disabled):active, .sliders .arrows .arrow-left:not(.disabled):active {
  opacity: 0.3;
}
.sliders .arrows .arrow-right img, .sliders .arrows .arrow-left img {
  width: 5rem;
}
.sliders .arrows .arrow-right {
  rotate: 180deg;
}
.sliders .arrows .board-indicator {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.sliders .arrows .board-indicator .indicator {
  width: 1rem;
  border-radius: 50%;
  height: 1rem;
}
.sliders .arrows .board-indicator .indicator:not(.active) {
  background-color: darkgray;
}
.sliders .arrows .board-indicator .indicator.active {
  background-color: white;
}

section {
  position: sticky;
  --offset: 0rem;
  top: calc(4rem - var(--offset));
  min-width: 100%;
  background-color: var(--bg-color);
  --clr--dark: #171A21;
  --clr--light: #FFFFFF;
}
section:not(:last-of-type)::after {
  content: "";
  height: calc(100vw * 0.0874886635);
  background-color: var(--bg-color);
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
}
section h1, section h2, section h3, section h4, section h5, section h6 {
  color: var(--text-color, var(--clr--dark));
}
section#sec--home {
  --bg-color: #FFFFFF;
  padding: 4rem 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  justify-content: center;
}
@media screen and (max-device-width: 800px) {
  section#sec--home {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
section#sec--home .left {
  padding-block: 6rem;
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media screen and (max-device-width: 800px) {
  section#sec--home .left {
    padding-block: 1rem;
    padding-inline: 2rem;
  }
}
section#sec--home .left h1 {
  display: block;
  font-size: 12vw;
  line-height: 8rem;
}
section#sec--home .left h3 {
  padding-left: 0.5rem;
  font-weight: 400;
}
section#sec--home .right {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-device-width: 800px) {
  section#sec--home .right {
    width: 100%;
  }
  section#sec--home .right img {
    width: 90%;
  }
}
section#sec--home img {
  margin-inline: auto;
  width: 100%;
  border-radius: 2rem;
  box-shadow: black 0 0 0.3rem;
}
section#sec--about {
  --bg-color: #C2E7D9;
  padding: 2rem 2rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section#sec--about h2 {
  font-size: 5rem;
  display: flex;
  gap: 2rem;
}
section#sec--about img {
  max-height: 14rem;
}
section#sec--work-experience {
  --bg-color: #A6CFD5;
  padding: 2rem 2rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section#sec--work-experience h2 {
  font-size: 5rem;
  display: flex;
  gap: 2rem;
}
section#sec--work-experience h3 {
  font-weight: 500;
}
section#sec--work-experience .panels .card {
  flex-basis: 50%;
}
section#sec--training {
  --bg-color: #CBC5EA;
  padding: 2rem 2rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section#sec--training h2 {
  font-size: 5rem;
  display: flex;
  gap: 2rem;
}
section#sec--training .panels .card {
  flex-basis: 50%;
}
section#sec--gallery {
  --bg-color: #C2EABD;
  --text-color: var(--clr--dark);
  padding: 2rem 2rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section#sec--gallery h2 {
  font-size: 5rem;
  display: flex;
  gap: 2rem;
}
section#sec--gallery p {
  margin-inline: 3rem;
}
section#sec--contact {
  --bg-color: #171A21;
  --text-color: var(--clr--light);
  padding: 2rem 2rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section#sec--contact h2 {
  font-size: 5rem;
  display: flex;
  gap: 2rem;
}
section#sec--contact h4 {
  color: #171A21;
}
@media screen and (max-device-width: 800px) {
  section#sec--contact .panels {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
section#sec--contact .panels .card {
  width: 30ch;
}
@media screen and (max-device-width: 800px) {
  section#sec--contact .panels .card {
    width: 30%;
  }
}
section#sec--contact .panels .card#card--github a {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  aspect-ratio: 1;
  position: relative;
  transition: opacity 400ms ease;
}
section#sec--contact .panels .card#card--github a:hover, section#sec--contact .panels .card#card--github a:focus {
  opacity: 0.8;
}
section#sec--contact .panels .card#card--github a:active {
  opacity: 0.5;
}
section#sec--contact .panels .card#card--github a img#profile-pic {
  margin: 0;
  aspect-ratio: 1;
  width: 98%;
  border-radius: 50%;
}
section#sec--contact .panels .card#card--github a div#github-logo {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  border-radius: 50%;
}
section#sec--contact .panels .card#card--github a div#github-logo img {
  margin: 0;
}
section#sec--contact .panels .card#card--email a, section#sec--contact .panels .card#card--cv a {
  margin-block: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}
section#sec--contact .panels .card#card--email a p, section#sec--contact .panels .card#card--cv a p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  z-index: 2;
  opacity: 0;
  color: black;
  transition: opacity 400ms ease;
}
section#sec--contact .panels .card#card--email a img, section#sec--contact .panels .card#card--cv a img {
  width: 100%;
  margin-top: auto;
  opacity: 1;
  transition: opacity 400ms ease;
}
section#sec--contact .panels .card#card--email a:hover img, section#sec--contact .panels .card#card--email a:focus img, section#sec--contact .panels .card#card--cv a:hover img, section#sec--contact .panels .card#card--cv a:focus img {
  opacity: 0.5;
}
section#sec--contact .panels .card#card--email a:hover p, section#sec--contact .panels .card#card--email a:focus p, section#sec--contact .panels .card#card--cv a:hover p, section#sec--contact .panels .card#card--cv a:focus p {
  opacity: 1;
}
section#sec--contact .panels .card#card--email a:active img, section#sec--contact .panels .card#card--cv a:active img {
  opacity: 0.3;
}
section#sec--contact .panels .card#card--email a:active p, section#sec--contact .panels .card#card--cv a:active p {
  opacity: 1;
}
section#sec--contact .panels .card#card--email #copied, section#sec--contact .panels .card#card--email #downloaded, section#sec--contact .panels .card#card--cv #copied, section#sec--contact .panels .card#card--cv #downloaded {
  display: none;
}

.scroll-sign {
  z-index: 100;
  position: fixed;
  bottom: 1rem;
  left: 50%;
  translate: -50% 0;
  visibility: hidden;
  animation-name: appear;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
.scroll-sign a {
  margin-inline: auto;
  flex-direction: column;
  text-decoration: none;
}
.scroll-sign a > p {
  color: #898989;
  width: 7rem;
  margin-inline: auto;
  text-align: center;
  margin-bottom: -0.5rem;
}
.scroll-sign a > img {
  margin-bottom: -1rem;
  width: 7rem;
  height: 2rem;
  margin-inline: auto;
}
@keyframes scroll-sign {
  0% {
    opacity: 50%;
  }
  50% {
    opacity: 100%;
  }
}
.scroll-sign a > img:nth-child(1) {
  animation-duration: 1000ms;
  animation-timing-function: ease;
  animation-delay: calc(1 * 100ms);
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-name: scroll-sign;
}
.scroll-sign a > img:nth-child(2) {
  animation-duration: 1000ms;
  animation-timing-function: ease;
  animation-delay: calc(2 * 100ms);
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-name: scroll-sign;
}
.scroll-sign a > img:nth-child(3) {
  animation-duration: 1000ms;
  animation-timing-function: ease;
  animation-delay: calc(3 * 100ms);
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-name: scroll-sign;
}

/*# sourceMappingURL=index.css.map */
